@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <h1 class="display-1 fw-bolder text-red">Red Forums</h1>
    <div class="d-flex flex-row text-center">
        @foreach (var category in Model.Categories)
        {
            <div class="card mx-2" style="width: 18rem;">
                <div class="card-header">
                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-categoryName="@category.Name.Replace(' ', '-')" class="">@category.Name</a>
                    <div class="text-muted">@category.Description</div>
                </div>
                <ul class="list-group list-group-flush justify-content-center">
                    @foreach (var post in category.Posts.OrderByDescending(x => x.CreatedOn).Take(5))
                    {
                        <li class="list-group-item align-middle"><a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a></li>
                    }

                </ul>
            </div>
        }
    </div>
</div>
