@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-1 fw-bolder text-red align-middle text-center">Red Forums</h1>
    @foreach (var category in Model.Categories)
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td colspan=2>
                        <span class="d-block"><strong><a class="link category-name" asp-area="" asp-controller="Category" asp-action="Index" asp-route-categoryName="@category.Name.Replace(' ', '-')" class="">@category.Name</a></strong></span>
                        <span class="d-block text-muted small">@category.Description</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in category.Posts.OrderByDescending(x => x.CreatedOn).Take(5))
                {
                    <tr>
                        <td class="align-middle col-9"><a class="link" asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a></td>
                        <td class="text-center align-middle col-3">
                            <div class="d-flex flex-column small">
                                <span class="">posted by: <a href="#" class="fw-bold">@post.UserUserName</a></span>
                                <span class="">at @post.CreatedOn.ToString("dd-MM-yyyy HH:mm")</span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
